{% extends '/layouts/default.html' %}
{% block body %}
      <main role="main" class="inner cover">
        <br><br><h1 class="cover-heading">Landing Page</h1>
          <p>Landing cute page is like QT page but faster and MEOWer ! =^.^=</p>
          <p>
              <small>We feed cats and unicorns with RSS Data and other rainbow colored stuffs</small>
          </p>
          <div id="text" class="row">
              <div id="content" class="col"></div>
          </div>
      </main>

      <footer>
        <div class="mastfoot inner">
          <hr>
            <p>
                <small>Zoé Belleton -
                <a href="https://github.com/Zoeinfp/landingcutepage" alt="github" style="text-decoration: none">Github</a>
                </small>
            </p>
        </div>
      </footer>
{% endblock body %}
